<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Cover Image</td>
            </tr>
        </thead>
        ${booksList.map(book => 
            `<tr>
                <td><a href="/books/${book.id}">${book.title}</a></td> 
                <td>${book.author}</td>
                <td><a href="${book.cover_image}">View Cover</a></td>
            </tr>`
            ).join('')
        }
    </table>    
</section>

