<form action="/users/signup" method="POST">
    <label>
        First Name
        <input type="text" name="first_name" placeholder="First"/>
    </label>
    <label>
        Last Name
        <input type="text" name="last_name" placeholder="Last"/>
    </label>
    <label>
        Email Address
        <input type="text" name="email" placeholder="you@email.com"/>
    </label>
    <label>
        Password
        <input type="password" name="password" placeholder="Your Password"/>
    </label>
    <button type="submit">Sign Up!</button>
</form>